<div class="login-container">
    <h2>Login</h2>
    <form id="loginForm" #userForm="ngForm" (ngSubmit)="checkDetails(userForm)">
        <label for="username">email</label>
        <input type="text" id="email" name="email" #name="ngModel" required ngModel>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" #password="ngModel" required ngModel>

        <button>Login</button>
    </form>
    sign up new user? <a routerLink="/sign-up">Signup</a>
</div>