<section id="header">
    <nav class="navbar">
        <div class="container">

            <h3 class="navbar-brand">Ecommerce</h3>

            <form class="search-form" autocomplete="off" action="/">
                <input id="myInput" type="text" name="search" placeholder="Search Title">
                <button type="submit">Search</button>
            </form>

            <ul class="navbar-nav">
                <li><a routerLink="/home">Home</a></li>
                <li>
                    <a href="cart.html" class="cart-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-cart-fill" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM6 14a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm1.25.5a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0zm4.75-.5a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg>
                        <span class="cart-count">0</span>
                    </a>
                </li>
                @if (!authService.userName()) {
                <li><a routerLink="/login">Login</a></li>
                } @else {
                <li>Welcome {{authService.userName()}} !!</li>
                <li><a routerLink="/login" (click)="logOut()">Logout</a></li>
                }
                <li *ngIf="authService.isAdmin()"><a routerLink="/product/add"> Add Product </a> </li>
            </ul>

        </div>
    </nav>
</section>