<p>if-else-condition works!</p>

<!-- @if(display) {
    <div style="width: 200px; height: 200px; background-color: grey;"></div>
} -->

@if (display || x == 11) {
    <div style="width: 200px; height: 200px; background-color: grey;"></div>
}
<button (click)="showSquare($event)" value="{{btn1}}">{{btn1}}</button>

<hr>
<br>

@if (toggleDiv) {
    <div style="width: 200px; height: 200px; background-color: orange;"></div>
}
@else {
    <div style="width: 200px; height: 200px; background-color: orangered;"></div>
}

<button (click)="toggleColor()" > {{toggleDiv?'change it to orange red':'change it to orange'}} </button>

<hr>